@model NetFinalProject.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Student Details";
}

<h2>Student Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

       
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>

        <dt class="col-sm-3">Grade</dt>
        <dd class="col-sm-9">@Model.Grade</dd>
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9"> @Model.Department?.Name</dd>
    </dl>
    



<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentId" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
